<html xmlns = "http://www.rhx1998.win">
	<head>
		<meta http-equiv = "Content-Type" content = "text/html: charset = gb 2312">
		<title> searching </title>
	</head>
	<body>
		<script>
		  (function() {
			var cx = '009885434213830488313:us60fyr4p-i';
			var gcse = document.createElement('script');
			gcse.type = 'text/javascript';
			gcse.async = true;
			gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
			var s = document.getElementsByTagName('script')[0];
			s.parentNode.insertBefore(gcse, s);
		  })();
			
		</script>
		<gcse:search></gcse:search>
	</body>
</html>